<a href="https://colab.research.google.com/github/kop57890/acerml/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
from urllib.request import urlretrieve
url = "https://github.com/Elwing-Chou/acerml/raw/main/titanic/train.csv"
urlretrieve(url, "train.csv")
url = "https://github.com/Elwing-Chou/acerml/raw/main/titanic/test.csv"
urlretrieve(url, "test.csv")

('test.csv', <http.client.HTTPMessage at 0x7fb9080808d0>)

In [9]:
import pandas as pd
train_df = pd.read_csv("train.csv", encoding="utf-8")
test_df = pd.read_csv("test.csv", encoding="utf-8")

In [10]:
datas = pd.concat([train_df, test_df], axis = 0, ignore_index=True)
datas = datas.drop(["PassengerId", "Survived"], axis = 1)

In [11]:
s = datas.isna().sum()
s[s > 0].sort_values(ascending=False)

Cabin       1014
Age          263
Embarked       2
Fare           1
dtype: int64

In [12]:
most = datas["Embarked"].value_counts().idxmax()
datas["Embarked"] = datas["Embarked"].fillna(most)

In [14]:
med = datas.median().drop(["Pclass"])
datas = datas.fillna(med)
s = datas.isna().sum()
s[s > 0].sort_values(ascending=False)

Cabin    1014
dtype: int64

In [15]:
def cabinflow(c):
  if pd.isna(c):
    return c
  else:
    return c[0]
datas["Cabin"] = datas["Cabin"].apply(cabinflow)
datas["Cabin"].value_counts()

C    94
B    65
D    46
E    41
A    22
F    21
G     5
T     1
Name: Cabin, dtype: int64

In [19]:
dic = datas["Ticket"].value_counts()
def ticketflow(t):
  return dic[t]
datas["Ticket"] = datas["Ticket"].apply(ticketflow)
datas["Ticket"].value_counts()

713    713
264    264
147    147
35      70
64      64
24      24
16      16
11      11
Name: Ticket, dtype: int64